<#@ template  debug="true" hostSpecific="true" #>
<#@ assembly name="$(SolutionDir)\GenerationDTO.Core\bin\Debug\GenerationDTO.Core.dll" #>
<#@ import namespace="GenerationDTO.Core" #><#+
void BuildDescription(EventDTO evt)
	{
		if(!string.IsNullOrEmpty(evt.Description))
		{#>
		//public override string ToDescription()
		//{
		//	return string.Format("<#= evt.Description #>", Id);
		//}
		<#+ 
		}
	}
#>